body {
    background-color: skyblue;
    min-width: 620px;
}

#main-menu, #list-table {
    width: 100%;
}

#main-menu #btn-col {
    text-align: right;
}

#list-table .c1 {
    width: 50px;
    text-align: center;
}

#list-table .c3 {
    width: 200px;
    text-align: center;
}

#list-table thead {
    background-color: lightgray;
}

#list-table tbody {
    background-color: whitesmoke;
}

#table-menu {
    width: 100%;
}

#table-menu .c1 {
    width: 230px;
}

#table-menu .c2 {

}

div.error {
    color: red;
    font-weight: bold;
}

#modal-dialog {
    background: #312e2eab;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 500;
    padding: 30%;
}

.hide {
    display: none;
}

.show {
    display: block;
}

#modal-dialog .content {
    background-color: whitesmoke;
    width: 100%;
    min-height: 400px;
    border: 3px solid cyan;
    border-radius: 8px;
    padding: 8px;
}

#modal-dialog-close-btn {
    background: red;
    width: 25px;
    height: 25px;
    text-align: center;
    padding-top: 4px;
    font-family: mono;
    float: right;
    border-radius: 4px;
}

#modal-dialog-img {
    width: 100%;
}

#modal-dialog-title {
    font-weight: bold;
    float: left;
}