<h2>Login Form</h2>
<form id="login-form">
    <div class="error" id="login-form-errors"></div>
    <label for="login">Enter Login:</label>
    <input name="login" type="text"/><br/>
    <label for="password">Password:</label>
    <input name="password" type="password"/><br/>
    <input type="submit" value="Do Login"/>
</form>
